
a {
	color: #5336FF;
}
a:hover {
	color: #5336FF;
}

.button.button-primary {
	background-color: #5336FF;
	border-color: #5336FF;
}
.button.button-primary:hover {
	background-color: #A4A5F5;
	border-color: #A4A5F5;
}

.container {
	max-width: 1100px;
}

main .content {
 	padding: 4rem 0;
 	margin-bottom: 0;
}

.home .hero {
	height: 40rem;
	text-align: center;
	background-image: url("/images/cubes.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.home .titles {
	text-align: center;
}
.home .cards {
	margin: 10rem 0;
	overflow: hidden;
	position:relative;
}
.home .cards .card {
 	/*margin: 2rem 2rem;*/
 	text-align: center;
	border-radius: 4px;
}
.home .links {
	margin: 10rem 0;
	text-align: center;
}
.home .links a {
	text-decoration: none;
}

.navaside {
	padding: 4rem 0;
}
.navaside li {
	list-style: none;
}
.navaside li > a {
	color: #666;
	text-decoration: none;
}
.navaside li > a:hover {
	color: #5336FF;
}
.navaside li > a.active {
	color: #5336FF;
}

.navbar {
 	display: none;
}

footer {
	width: 100%;
	border-top: 1px solid #eee;
}
footer .links {
	text-align: center;
	padding: 4rem 0;
}
footer .links > a {
	padding: 0 4rem;
	text-decoration: none;
}

/* Larger than phone */
@media (min-width: 550px) {
	.value-props {
		margin-top: 9rem;
		margin-bottom: 7rem;
	}
	.value-img {
		margin-bottom: 1rem;
	}
	.example-grid .column,
	.example-grid .columns {
		margin-bottom: 1.5rem;
	}
	.docs-section {
		padding: 6rem 0;
	}
	.example-send-yourself-copy {
		float: right;
		margin-top: 12px;
	}
	.example-screenshot-wrapper {
		position: absolute;
		width: 48%;
		height: 100%;
		left: 0;
		max-height: none;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {
	/* Navbar */
	.navbar {
		display: block;
		width: 100%;
		height: 6.5rem;
		background: #fff;
		z-index: 99;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}
	.navbar > .container {
		width: 100%;
	}
	.navbar-list {
		list-style: none;
		margin-bottom: 0;
	}
	.navbar-item {
		position: relative;
		float: left;
		margin-bottom: 0;
	}
	.navbar-last-item {
		float: right;
	}
	.navbar-logo-link {
		display: block;
		margin-right: 20px;
	}
	.navbar-logo-link img {
		display: block;
		height: 4.8rem;
		padding: 0.6rem 0;
	}
	.navbar-link {
		font-size: 11px;
		font-weight: 600;
		letter-spacing: .2rem;
		margin-right: 35px;
		text-decoration: none;
		line-height: 6.5rem;
		color: #222;
	}
	.navbar-link.active {
		color: #5336FF;
	}
}