<!DOCTYPE html>
<html lang="en">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>
		{{ partial "navbar" . }}

		<div class="container">
			<div class="row">
				{{ partial "menu" . }}

				<main class="ten columns">
					<div class="content">
						{{ block "content" . }}
						{{ end }}
					</div>
					{{ partial "page-nav.html" . }}
				</main>
			</div>
		</div>

		{{ partial "footer" . }}
		
		<!-- Search functionality -->
		<script src="/js/search-index.js"></script>
	</body>
</html>
