<nav class="navbar">
	<div class="container">
		<ul class="navbar-list">
			<li class="navbar-item"><a class="navbar-link" href="">Rehive</a></li>
			<li class="navbar-item"><a class="navbar-link" href="/">Docs</a></li>
			<!--<li class="navbar-item">
				<a class="navbar-link" href="#" data-popover="#codeNavPopover">Docs</a>
				<div id="codeNavPopover" class="popover">
					<ul class="popover-list">
						<li class="popover-item">
							<a class="popover-link" href="#">Dashboard</a>
						</li>
						<li class="popover-item">
							<a class="popover-link" href="#">Platform</a>
						</li>
						<li class="popover-item">
							<a class="popover-link" href="#">Services</a>
						</li>
					</ul>
				</div>
			</li>-->
		</ul>
	</div>
</nav>