<aside class="navaside two columns">
	<ul>
		{{ $currentPage := .Page }}
		{{ range (sort (.Site.GetPage "section" .Section ).Sections ".Weight") }}
			<li>
				<span><strong>{{ .Title }}</strong></span>
				<ul>
					{{ range (sort .Pages ".Weight") }}
						<li>
							<a href="{{ .Permalink }}" class="{{ if in .UniqueID $currentPage.UniqueID }}active{{ end }}">{{ .Title }}</a>
						</li>
					{{ end }}
				</ul>
			</li>
		{{ end }}

		{{ with .Site.GetPage "section" .Section }}
			{{ if isset .Params "references" }}
				<li>
					<span><strong>References</strong></span>
					<ul>
						{{ range .Params.references }}
							<li>
								<a href="{{ .url }}" target="_blank">{{ .title }}</a>
							</li>
						{{ end }}
					</ul>
				</li>
			{{ end }}
		{{ end }}
	</ul>
</aside>