<aside class="navaside two columns">
	<ul>
		{{ range (sort (.Site.GetPage "section" .Section ).Sections ".Weight") }}
			<li>
				<span><strong>{{ .Title }}</strong></span>
				<ul>
					{{ range (sort .Pages ".Weight") }}
						<li>
							<a href="{{ .Permalink }}">{{ .Title }}</a>
						</li>
					{{ end }}
				</ul>
			</li>
		{{ end }}

		{{ with .Site.GetPage "section" .Section }}
			<li>
				<span><strong>References</strong></span>
				<ul>
					{{ range .Params.references }}
						<li>
							<a href="{{ .url }}" target="_blank">{{ .title }}</a>
						</li>
					{{ end }}
				</ul>
			</li>
		{{ end }}

	</ul>
</aside>