<header>
	<nav class="navbar">
		<div class="container">
			<ul class="navbar-list">
				{{ $currentSection := .Section }}
				<li class="navbar-item">
					{{ if isset .Site.Params "logourl"}}
						<a href="{{ .Site.Params.logoUrl }}" class="navbar-logo-link">
							<img src="{{ .Site.Params.logoImage }}">
						</a>
					{{ end }}
				</li>
				<li class="navbar-item">
					<a href="{{ .Site.Home.RelPermalink }}" class="navbar-link {{ if eq $currentSection  "" }}active{{ end }}">Docs</a>
				</li>
				{{ range (sort .Site.Sections ".Weight") }}
					<li class="navbar-item">
						<a href="{{ .Params.linkTo | default .RelPermalink }}" class="navbar-link {{ if ne $currentSection  "" }}{{ if in .File.Dir $currentSection }}active{{ end }}{{ end }}">{{ .Title }}</a>
					</li>
				{{ end }}

				{{ range .Site.Params.extraNavItems }}
					<li class="navbar-item navbar-right-item">
						<a href="{{ .url }}" class="navbar-link">{{ .title }}</a>
					</li>
				{{ end }}
			</ul>
		</div>
	</nav>
	<div class="mobile-navbar">
		<div class="burger-container" onclick="openNav()">
			<div class="burger"></div>
			<div class="burger"></div>
			<div class="burger"></div>
		</div>
	</div>
	<div id="sidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		{{ $currentSection := .Section }}
		<a href="{{ .Site.Home.RelPermalink }}" class="navbar-link {{ if eq $currentSection  "" }}active{{ end }}">Docs</a>
		{{ range (sort .Site.Sections ".Weight") }}
			<a href="{{ .Params.linkTo | default .RelPermalink }}" class="navbar-link {{ if ne $currentSection  "" }}{{ if in .File.Dir $currentSection }}active{{ end }}{{ end }}">{{ .Title }}</a>
		{{ end }}

		{{ range .Site.Params.extraNavItems }}
			<a href="{{ .url }}" class="navbar-link">{{ .title }}</a>
		{{ end }}
	  </div>
	  <script>
			function openNav() {
				document.getElementById("sidenav").style.width = "250px";
			}

			function closeNav() {
				document.getElementById("sidenav").style.width = "0";
			}
	  </script>
</header>