<!DOCTYPE html>
<html lang="en">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>
		{{ partial "header" . }}

		<div class="container">
			<div class="home content">
				<section class="titles">
			      <h2>Rehive Documentation.</h2>
			    </section>

				<section class="cards">
					{{ range (sort .Site.Sections ".Weight") }}
						<div class="one-third column">
							<div class="card">
								<h4>{{ .Title }}</h4>
								<p>{{ .Description }}</p>
								<a class="button button-primary" href="{{ .Permalink }}">{{ .Title }} Docs</a>
							</div>
						</div>
					{{ end }}
				</section>

				<section class="links">
					<h3>Quick Links</h3>
				</section>
			</div>
		</div>

		{{ partial "footer" . }}
	</body>
</html>
